*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
scroll-behavior:smooth;
}

body{
background:linear-gradient(180deg,#eef4ff,#dbe8ff);
color:#222;
}

/* اسکرول */

::-webkit-scrollbar{
width:10px;
}

::-webkit-scrollbar-thumb{
background:#1565ff;
border-radius:20px;
}

/* هدر */

header{
background:linear-gradient(135deg,#071529,#0b5cff,#33a1ff);
padding:45px;
text-align:center;
color:white;
box-shadow:0 10px 30px rgba(0,0,0,.25);
animation:fadeDown 1s;
}

header h1{
font-size:42px;
margin-bottom:10px;
font-weight:bold;
}

header p{
font-size:19px;
opacity:.9;
}

/* بنر */

.hero{
margin:25px;
padding:55px;
border-radius:35px;
background:linear-gradient(135deg,#08142d,#1565ff,#53c5ff);
color:white;
text-align:center;
box-shadow:0 20px 45px rgba(0,0,0,.2);
animation:zoom 1s;
}

.hero h2{
font-size:38px;
margin-bottom:12px;
}

.hero p{
font-size:19px;
}

/* تصویر */

img{
width:100%;
border-radius:30px;
box-shadow:0 15px 35px rgba(0,0,0,.18);
transition:.4s;
}

img:hover{
transform:scale(1.01);
}

/* فرم */

.form-box{
max-width:760px;
margin:45px auto;
padding:35px;
background:rgba(255,255,255,.75);
backdrop-filter:blur(18px);
border-radius:35px;
border:1px solid rgba(255,255,255,.5);
box-shadow:0 20px 40px rgba(0,0,0,.15);
animation:fadeUp 1s;
}

.form-box h2{
text-align:center;
font-size:32px;
color:#1565ff;
margin-bottom:25px;
}

.form-box input,
.form-box textarea{
width:100%;
padding:18px;
margin:12px 0;
font-size:17px;
border-radius:18px;
border:2px solid #dbe4ff;
background:white;
transition:.3s;
}

.form-box input:focus,
.form-box textarea:focus{
border-color:#1565ff;
box-shadow:0 0 20px rgba(21,101,255,.25);
outline:none;
transform:scale(1.02);
}

.form-box textarea{
resize:vertical;
min-height:140px;
}

/* دکمه */

.whatsapp-btn{
width:100%;
padding:18px;
border:none;
border-radius:20px;
background:linear-gradient(135deg,#00b248,#25D366);
font-size:20px;
font-weight:bold;
color:white;
cursor:pointer;
transition:.35s;
box-shadow:0 12px 30px rgba(37,211,102,.35);
}

.whatsapp-btn:hover{
transform:translateY(-4px) scale(1.02);
box-shadow:0 18px 35px rgba(37,211,102,.45);
}

/* فوتر */

footer{
margin-top:45px;
background:#071529;
color:white;
text-align:center;
padding:30px;
font-size:17px;
line-height:35px;
}

/* انیمیشن */

@keyframes fadeDown{
from{
opacity:0;
transform:translateY(-40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes zoom{
from{
opacity:0;
transform:scale(.9);
}
to{
opacity:1;
transform:scale(1);
}
}

/* موبایل */

@media(max-width:768px){

header{
padding:30px;
}

header h1{
font-size:30px;
}

.hero{
padding:35px;
margin:15px;
}

.hero h2{
font-size:27px;
}

.form-box{
margin:18px;
padding:22px;
}

.form-box h2{
font-size:24px;
}

.whatsapp-btn{
font-size:18px;
}

}
