*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Vazirmatn',sans-serif;
}


body{

background:#f5f7fb;
color:#222;

}


html{
scroll-behavior:smooth;
}



.navbar{

width:90%;
margin:20px auto;

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:15px 30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}



.logo img{

width:90px;

height:90px;

object-fit:contain;

}



.navbar ul{

display:flex;

gap:30px;

list-style:none;

}



.navbar a{

text-decoration:none;

color:#222;

font-weight:700;

}



.navbar a:hover{

color:#0066ff;

}




/* هدر */


.hero{

width:90%;

margin:40px auto;

display:flex;

align-items:center;

justify-content:space-between;

gap:40px;

}



.hero-text{

flex:1;

}



.hero-text h1{

font-size:45px;

color:#0066ff;

}



.hero-text h2{

font-size:30px;

margin:15px 0;

}



.hero-text p{

font-size:18px;

line-height:2;

}



.hero-image img{

width:430px;

border-radius:30px;

box-shadow:0 15px 40px rgba(0,0,0,.2);

}



.hero-buttons{

margin-top:30px;

display:flex;

gap:15px;

}



.btn1,.btn2,.btn-repair{

padding:15px 30px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}



.btn1{

background:#0066ff;

color:white;

}



.btn2{

background:#111;

color:white;

}





/* قیمت */

.prices{

width:90%;

margin:70px auto;

text-align:center;

background:white;

padding:40px;

border-radius:30px;

box-shadow:0 10px 30px #ddd;

}



.prices h2{

font-size:35px;

color:#0066ff;

}



.prices p{

margin:20px;

font-size:18px;

}



.prices img{

width:90%;

max-height:700px;

object-fit:contain;

border-radius:25px;

}





/* اسلایدر */


.slider{

width:90%;

height:450px;

margin:50px auto;

position:relative;

overflow:hidden;

border-radius:30px;

}



.slide{

display:none;

height:100%;

position:absolute;

width:100%;

}



.slide.active{

display:block;

}



.slide img{

width:100%;

height:100%;

object-fit:cover;

}



.caption{

position:absolute;

bottom:30px;

right:30px;

background:rgba(0,0,0,.6);

color:white;

padding:20px;

border-radius:20px;

}





/* برندها */


.brands{

text-align:center;

padding:50px;

}



.brand-box{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin-top:30px;

}



.brand-box div{

background:white;

padding:25px 35px;

border-radius:20px;

font-size:20px;

box-shadow:0 8px 20px #ddd;

}





/* خدمات */


.services{

width:90%;

margin:auto;

text-align:center;

}



.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin-top:40px;

}



.card{

background:white;

padding:35px;

border-radius:25px;

box-shadow:0 10px 25px #ddd;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

}



.card h3{

margin:15px;

font-size:22px;

}





/* تعمیرات */


.repair{

width:90%;

margin:80px auto;

}



.repair-box{

background:white;

border-radius:35px;

padding:40px;

display:flex;

align-items:center;

gap:40px;

box-shadow:0 15px 40px #ddd;

}



.repair-image img{

width:400px;

border-radius:25px;

}



.repair-text h2{

font-size:35px;

color:#0066ff;

}



.repair-text p{

line-height:2;

margin:20px 0;

}



.repair-text li{

list-style:none;

margin:12px;

font-size:17px;

}



.btn-repair{

background:#0066ff;

color:white;

display:inline-block;

margin-top:20px;

}





/* اینستاگرام */


.instagram{

background:#111;

color:white;

text-align:center;

padding:50px;

}



.instagram a{

color:#00aaff;

font-size:25px;

}





footer{

background:#0066ff;

color:white;

text-align:center;

padding:30px;

line-height:2;

}





@media(max-width:800px){


.hero,
.repair-box{

flex-direction:column;

}



.hero-image img,
.repair-image img{

width:100%;

}



.navbar{

flex-direction:column;

}



.navbar ul{

flex-wrap:wrap;

justify-content:center;

}



}
